@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

html {
  text-align: center;
  background-color: royalblue;
}
body {
  font-family: 'Raleway', sans-serif;
  max-width: 100%;
  background-color: whitesmoke;
  height: 620px;
  }

header{
  height: 200px;
  background-color: teal;

} 
#home_page {
  display: none;
}

#main_scan {
  display: none;
}
#opret_bruger {
  display: none;
}
/*Login style starts here*/
h1 {
    text-align: center;
  }

  

p {
    font-family: verdana;
    font-size: 20px;
  }



  @media only screen and (max-width: 620px) {
    /* For mobile phones: */

  }
  