body {
    width: 100%;
    text-align: center;
    height: 100%;
}.main_content {
    border: 5px #c90a11;
    border-style: solid;
    max-width: 1200px;
}
/* flex box container*/

article.flex_container > section {
    display: flex;
    width: 800px;
    background-color: dodgerblue;
    text-align: center;
    margin-left: 200px;
}

.solid1 {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    color: #c90a11;
    border: 2px black;
    border-style: solid;
    background-color: #efefef;
}
.solid2 {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    color: #c90a11;
    border: 2px black;
    border-style: solid;
    background-color: #f6f6f6;
}
.solid3 {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    color: #c90a11;
    border: 2px black;
    border-style: solid;
    background-color: #ffffff;
}
.solid4 {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    color: white;
    border: 2px black;
    border-style: solid;
    background-color: #c90a11;
}
.solid5 {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    color: #c90a11;
    border: 2px black;
    border-style: solid;
    background-color: #121212;
}
.solid6 {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    color: #c90a11;
    border: 2px black;
    border-style: solid;
    background-color: #ffffff;
    font-size: 30px;
}
.solid7 {
    height: 70px;
    width: 70px;
    padding: 10px;
    margin-left: 10px;
    color: white;
    border: 2px black;
    border-style: solid;
    background-color: #4E535D;
    font-size: 18px;
}
.solid8 {
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-left: 10px;
    color: #c90a11;
    border: 2px black;
    border-style: solid;
    background-color: #efefef;
    font-size: 10px;
}
img.xs{
    width: 50px;
    height: 50px;
    padding: 10px;
}
img.small{
    width: 100px;
    height: 100px;
    padding: 10px;
}
img.medium{
    width: 150px;
    height: 150px;
    padding: 10px;
}
img.clipboard_xs{
    width: 50px;
    height: 70px;
    padding: 10px;
}
img.clipboard_small{
    width: 100px;
    height: 120px;
    padding: 10px;
}
img.clipboard_medium{
    width: 150px;
    height: 170px;
    padding: 10px;
}
img.smør_xs{
    width: 100px;
    height: 80px;
    padding: 10px;
}
img.smør_small{
    width: 120px;
    height: 100px;
    padding: 10px;
}
img.smør_medium{
    width: 170px;
    height: 150px;
    padding: 10px;
}
img.tilbudikon_xs {
    width: 50px;
    height: 50px;
    padding: 10px;
}
img.tilbudikon_small {
    width: 100px;
    height: 100px;
    padding: 10px;
}
img.tilbudikon_medium {
    width: 150px;
    height: 150px;
    padding: 10px;
}

img.tilbudikonsvg_xs {
    width: 200px;
}
img.tilbudikonsvg_small {
    width: 300px;
}
img.tilbudikonsvg_medium {
    width: 400px;
}
form {
    height: 200px;
    width: 200px;
}



footer {
    height: 50px;
}
 