@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    margin: 0; 
    padding: 0; 
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    text-align: center;
}
.main_content {
    height: 100%;
    margin: auto;
    max-width: 1024px;
}
/* flex box container til coop style guide*/
/*
article.flex_container > section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 80%;
    min-width: 80%;
    text-align: center;
}
/*Header style*/
header{
    box-shadow: 0 8px 10px -8px #4E535D;
    height: 50px;
}
header.header_logo {
    width: 60%;
}
img.cooplogo {
    width: 150px;
    height: 60px;
    float: left;
}
header.header_homeikon_burgermenu {
    width: 40%;
    float: right;
}
img.home_knap {
    height: 100px;
    width: 100px;
}
img.burgermenu {
    height: 100px;
    width: 100px;
   
}
/*Coop Menu*/
.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tilbud {
    font-size: 40px;
}
/*Coop Butikker Menu og Nav*/
nav {
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav li{     
    background-color: #c90a11; 
    margin: 20px;
    border-radius: 10px;
    width: 250px;
    list-style-type: none;
}
nav li a {
    text-decoration: none;
}
.tilbud, .monster_scan, .kurv, .butikker, .nyheder {
    text-decoration: none;
    color: #efefef;
    margin: 10px;
    line-height: 80px;
    font-size: 25px;
    font-weight: bold;
}
.coop_butikker {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.coop_butikker, img {
    padding: 10px;
}

/*Coop footer*/
footer{
    margin-top: 20px;
    box-shadow: 0 -8px 10px -8px #4E535D;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 150px;
}
footer.footer_store {
    width: 50%;
}
footer.footer_kurv {
    width: 50%;
}
.footer_store {
    width: 70px;
    height: 90px;
}
.footer_kurv {
    width: 150px;
    height: 60px;
}

 /* DESKTOP */
@media screen and (min-width: 1024px) {
    header {
        display: block;
    }
    .header_homeikon_burgermenu {
        width: 40%;
        float:right;
        margin-right: 20px;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .valgbutik {
        font-size: 40px;
        color: #c90a11;
        margin-bottom: 10px;
    }

}

 /* iPad */
 @media screen and (min-width: 768px) {
    /* flex box container til coop style guide*/
    header, footer {
        display: block;
        width: 100%;
        height: 100px;
    }
    img.cooplogo {
        width: 200px;
        height: 80px;
    }
    .header_homeikon_burgermenu {
        width: 40%;
        float:right;
        margin-right: 20px;
    }
    footer {
        clear: both;
        position: relative;
        height: 65px;
        margin-top: -65px;
    }
    img.footer_store {
        width: 90px;
        float: left;
        margin-left: 100px;
    }
    img.footer_kurv {
        height: 90px;
        width: 80px;
        float: right;
        margin-right: 100px;
    }
    .valgbutik {
        font-size: 40px;
        color: #c90a11;
        margin-bottom: 10px;
    }
    img.footer_kurv {
        height: 70px;
        width: 60px;
        float: right;
        margin-right: 50px;
    }
    img.scanner, img.butter, img.cow {
        height: 300px;
        width: 300px;
    }
    .grey_tekst {
        font-size: 40px;
        color: #4E535D;
        margin-bottom: 30px;
    }
    a.next {
        margin-top: 100px;
        border: 2px solid #4E535D;
        padding: 10px 50px;
        color: #4E535D;
        font-size: 25px;
        font-weight: bold;
      }
    a {
        text-decoration: none;
      }
      h1 {
          font-size: 50px;
      }

}
 /* Mobiles */
@media screen and (max-width: 568px) {
    article.flex_container {
        max-width: 568px;
        height: 100%;
    }
    .main_content {
        margin: auto;
    }
    /*header css starts here*/
    header {
        height: 65px;
  }
    .header_logo {
        width: 40%;
        float: left;
    }
    img.cooplogo {
        width: 150px;
        height: 60px;
    }

    .header_homeikon_burgermenu {
        width: 40%;
        float:right;
    }
    img.home_knap {
       width: 60px;
       height: 60px;
    }
    img.burgermenu {
        width: 50px;
        height: 50px;
        padding-left: 10px;
     }
    /*nav css starts here*/
    .menu{
        width: 100%;
    }
    nav {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }
    nav, ul {
        justify-content: center;
    }
    li{     
        background-color: #c90a11; 
        margin: 20px;
        border-radius: 10px;
        width: 250px;
        list-style-type: none;
    }
   .tilbud, .monster_scan, .kurv, .butikker, .nyheder {
        text-decoration: none;
        color: #efefef;
        margin: 10px;
        line-height: 80px;
        font-size: 25px;
        font-weight: bold;
    }
    .tilbud {
        font-size: 40px;
  }
  
/*Coop Butikker Menu*/

.coop_butikker {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.valgbutik {
    font-size: 40px;
    color: #c90a11;
    margin-bottom: 10px;
}
.brugsenlogo, .superbrugsenlogo, .kvicklylogo, .dagliglogo, .irmalogo {
    width: 200px;
    height: 70px;
}
.faktalogo {
    width: 210px;
    height: 90px;
}
/*Footer ikoner*/
footer {
    clear: both;
    position: relative;
    height: 65px;
    margin-top: -65px;
    width: 100%;
}
img.footer_store {
    width: 75px;
    height: 75px;
    float: left;
    margin-left: 50px;
}
img.footer_kurv {
    height: 70px;
    width: 60px;
    float: right;
    margin-right: 50px;
}
/*Find Varer*/
img.butter {
    width: 150px;
    height: 130px;
}
img.cow, img.scanner {
    width: 150px;
    height: 130px;
}
.grey_tekst {
    font-size: 40px;
    color: #4E535D;
    margin-bottom: 30px;
}
a.next {
    margin-top: 100px;
    border: 2px solid #4E535D;
    padding: 10px 50px;
    color: #4E535D;
    font-size: 25px;
    font-weight: bold;
  }
a {
    text-decoration: none;
  }
  h1 {
      font-size: 50px;
  }
}
