@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.main_content {
    border: 5px #c90a11;
    border-style: solid;
    max-width: 1200px;
}
/*Header style*/
header{
    box-shadow: 0 8px 10px -8px #4E535D ;
    height: 65px;
}
header.header_logo {
    width: 60%;
}
img.cooplogo {
    height: 100px;
    width: 400px;
    float: left;
}
header.header_homeikon_burgermenu {
    width: 40%;
    float: right;
}
img.burgermenu {
    height: 100px;
    width: 100px;
    float: right;
}
/*Coop Butikker Menu*/
.coop_butikker {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.coop_butikker, img {
    padding: 10px;
}
/*Coop footer*/
footer {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-shadow: 0 -5px 10px -5px #333;
}
footer.footer_kurv {
    float: left;
 
    background-color: indigo;
}
footer.footer_seddel {

    float: right;
}
/* flex box container*/

article.flex_container > section {
    display: flex;
    width: 800px;
    background-color: dodgerblue;
    text-align: center;
    margin-left: 200px;
}

.solid1 {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    color: #c90a11;
    border: 2px black;
    border-style: solid;
    background-color: #efefef;
}
.solid2 {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    color: #c90a11;
    border: 2px black;
    border-style: solid;
    background-color: #f6f6f6;
}
.solid3 {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    color: #c90a11;
    border: 2px black;
    border-style: solid;
    background-color: #ffffff;
}
.solid4 {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    color: white;
    border: 2px black;
    border-style: solid;
    background-color: #c90a11;
}
.solid5 {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    color: #c90a11;
    border: 2px black;
    border-style: solid;
    background-color: #121212;
}
.solid6 {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
    color: #c90a11;
    border: 2px black;
    border-style: solid;
    background-color: #ffffff;
    font-size: 30px;
}
.solid7 {
    height: 70px;
    width: 70px;
    padding: 10px;
    margin-left: 10px;
    color: white;
    border: 2px black;
    border-style: solid;
    background-color: #4E535D;
    font-size: 18px;
}
.solid8 {
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-left: 10px;
    color: #c90a11;
    border: 2px black;
    border-style: solid;
    background-color: #efefef;
    font-size: 10px;
}
img.xs{
    width: 50px;
    height: 50px;
    padding: 10px;
}
img.small{
    width: 100px;
    height: 100px;
    padding: 10px;
}
img.medium{
    width: 150px;
    height: 150px;
    padding: 10px;
}
img.clipboard_xs{
    width: 50px;
    height: 70px;
    padding: 10px;
}
img.clipboard_small{
    width: 100px;
    height: 120px;
    padding: 10px;
}
img.clipboard_medium{
    width: 150px;
    height: 170px;
    padding: 10px;
}
img.smør_xs{
    width: 100px;
    height: 80px;
    padding: 10px;
}
img.smør_small{
    width: 120px;
    height: 100px;
    padding: 10px;
}
img.smør_medium{
    width: 170px;
    height: 150px;
    padding: 10px;
}
img.tilbudikon_xs {
    width: 50px;
    height: 50px;
    padding: 10px;
}
img.tilbudikon_small {
    width: 100px;
    height: 100px;
    padding: 10px;
}
img.tilbudikon_medium {
    width: 150px;
    height: 150px;
    padding: 10px;
}

img.tilbudikonsvg_xs {
    width: 200px;
}
img.tilbudikonsvg_small {
    width: 300px;
}
img.tilbudikonsvg_medium {
    width: 400px;
}
form {
    height: 200px;
    width: 200px;
}



footer {
    height: 50px;
}
 /* DESKTOP */
@media screen and (min-width: 1024px) {
    main, footer{
        max-width:66%;
        margin:0 auto;
    }
    header {
        display: none;
    }
}
 /* Mobiles */
@media screen and (max-width: 568px) {
    header {
        padding: 10px;
    }
    .header_logo {
        width: 40%;
        float: left;
    }
    img.cooplogo {
        width: 150px;
        height: 60px;
    }

    .header_homeikon_burgermenu {
        width: 40%;
        float:right;
        margin-right: 20px;
    }
    img.home_knap {
       padding-left: 10px;
       width: 60px;
       height: 60px;
    }
    img.burgermenu {
        width: 50px;
        height: 50px;
        padding-left: 10px;
     }
  }